//Colores
$primary: #E55947;
$secondary: #F0F1F3;
$info: #777;
$white: #FAFAFF;

//Tipografía
$display-font-weight: 700;

//Links
$link-decoration: none;

@import "../../node_modules/bootstrap/scss/bootstrap";